[submodule "libs/APluginLibrary"]
	path = libs/APluginLibrary
	url = https://github.com/Alex2804/APluginLibrary
[submodule "libs/libtcc"]
	path = libs/libtcc
	url = https://github.com/Alex2804/libtcc-cmake
